<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
    
</head>
<body>
     {{>navbar}}
    

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img src="images/about.png" alt="eagle" class="img-fluid"/>
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
<p>welcome to weather App</p>
<h1>I am A <span class="text_clr">Web</span> Developer</h1>
<a href="/weather" ><button>About Me</button></a>
                    </div>
                    
                </div>
            </div>
            </div>
        </div> 
        {{>footer}}
</body>
</html>