<!DOCTYPE html>
<html lang="en">
<head>

     {{>headerlinks}}

    
</head>
<body>
   {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                      <input type="text" id="cityName"  placeholder="Enter Your City Name" autocomplete="off">
                   <input type="button" value="search" id="submitBtn">
                    </form>
                   
                </div>
                 <div class="tempInformation">
 <div class="top_layer">
     <p id="day"></p>
     <p id="today_data"></p>
 </div>
 <div class="main_layer">
<p id="city_name">Get Out Put Here</p>
<div class="middle_layer data_hide"> 
<p id="temp"><span id="temp_real_val"></span><sup>0</sup>C</p>
<p id="temp_status"><i class="fa fa-cloud"></i></p>
</div>
 </div>
                 </div>
            </div>
            </div>
        </div> 
         {{>footer}}
         <script src="js/main.js"></script>
         <script>
            
             const getCurrentDay = () =>{
                 let weekday = new Array(7);
                 weekday[0] = "Sunday";
                 weekday[1] = "Monday";
                 weekday[2] = "Tuesday";
                 weekday[3] = "wednesday";
                 weekday[4] = "Thursday";
                 weekday[5] = "Friday";
                 weekday[6] = "Saturday";

                 let currentTime = new Date();
                 let days = weekday[currentTime.getDay()];
                 console.log(days);
                 let day = document.getElementById('day');
                day.innerText = days; 
                
             };
             const getCurrentTime = ()=>{
                 var months=[
                 "Jan",
                 "Feb",
                 "Mar",
                 "Apr",
                 "May",
                 "June",
                 "July",
                 "Aug",
                 "Sept",
                 "Oct",
                 "Nov",
                 "Dec",
                 ];
                 var now = new Date();
                 var hours = now.getHours();
                 var mins = now.getMinutes();
                 var month = months[now.getMonth()];
                 var date = now.getDate();
                 //var year=now.getFullYear();
                 var period = "am";
                 if(hours > 11){
                     period ="pm";
                     if(hours > 12) hours -=12; //formate for 12 hrs clock
                 }
                 if(mins <10){
                     mins="0" + mins;//format minutes
                 }

                 return `${month} ${date} | ${hours}:${mins}${period}`;
             };
             let curDate =document.getElementById('today_data');
             curDate.innerHTML = getCurrentTime();
                  {{!-- curDate.innerHTML = getCurrentDay()+ " |" + getCurrentTime(); --}}
              getCurrentDay();
              getCurrentTime();
         </script>
</body>
</html>